<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head></head>
<body>
<div layout:fragment="contents">
    <main>
        <h1>TODO: fix to view claim</h1>
      <section>
        <div class="expenseDate">30/12/2021</div>
        <table>
          <tr>
            <td class="expenseDescr">Movies</td>
            <td class="expenseAmount">R100.00</td>
          </tr>
        </table>
      </section>
      <section>
        <h2>This settled a claim by</h2>
        <p>herman@wethinkcode.co.za</p>
        <p>on <span class="date">04/10/2021</span></p>
      </section>
      <nav>
        <a href="/home.html">Close</a>
      </nav>
    </main>

</div>>
</body>

</html>