<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head>
</head>
<body>
<div layout:fragment="contents">
    <main>
        <section>
            <h2>Submit a claim for the following expense</h2>
            <table>
                <tbody>
                <tr>
                    <td id="expense_date" class="expenseDate" th:text="${session.expense.date}">2021/10/01</td>
                    <td id="expense_description" th:text="${session.expense.description}">Lunch</td>
                    <td id="expense_amount" class="money"
                        th:text="${#numbers.formatDecimal(session.expense.amount,1,2,'POINT')}">100.00
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
        <br/>
        <section id="claims_section" th:style="${(expense.claims.size eq 0)? 'display:none' : 'display:block'}">
            <h2>Previous claims for this expense</h2>
            <table id="claims">
                <thead>
                <tr>
                    <th>Who</th>
                    <th>Due</th>
                    <th>Settled?</th>
                    <th>How Much</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="claim, iterStat: ${session.expense.claims}">
                    <td class="text" th:id="'claim_who_' + ${iterStat.count}"
                        th:text="${claim.claimedFrom.name}">Mike
                    </td>
                    <td class="date" th:id="'claim_date_' + ${iterStat.count}"
                        th:text="${claim.dueDate}">2021/11/15</td>
                    <td class="text" th:id="'claim_settled_' + ${iterStat.count}"
                        th:text="${claim.settled}?'Yes':'No'">no</td>
                    <td class="money" th:id="'claim_amount_' + ${iterStat.count}"
                        th:text="${#numbers.formatDecimal(claim.amount,1,2,'POINT')}">150.00</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td id="total_claims" class="total"
                        th:text="${#numbers.formatDecimal(session.expense.totalClaims,1,2,'POINT')}">200.00
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td class="money">Amount that has not been claimed:</td>
                    <td id="unclaimed_amount" class="money"
                        th:text="${#numbers.formatDecimal(session.expense.unclaimedAmount,1,2,'POINT')}">200.00
                    </td>
                </tr>
                </tfoot>
            </table>
        </section>
        <br/>
        <section>
            <form id="claim_form">
                <label for="email">The email address of the person that should pay you</label>
                <input id="email" type="email" name="claimFromWho" th:value="${newClaim.claimedFrom.email}"/>
                <label for="claim_amount">The amount they should pay</label>
                <input id="claim_amount" type="number" name="claimAmount" th:value="${newClaim.amount}">
                <label for="due_date">By when must this claim be settled</label>
                <input name="dueDate" id="due_date" type="date" th:value="${newClaim.dueDate}" required>
                <input id="add_claim" type="submit" value="Add Claim"/>
            </form>
            <!--            <a href="">delete</a>&lt;!&ndash; FIXME: hook to js to delete claimDetail line &ndash;&gt;-->
        </section>
    </main>
    <script src="js/claimexpense.js"></script>
</div>

</body>

</html>